<div class="pt-20">
  <div class="h-60 bg-gradient-to-r from-slate-700 to-slate-400"></div>
  <div class="relative h-96 w-[90%] md:w-[50%] mx-auto shadow-2xl bg-white -translate-y-28 rounded-3xl">
    <!-- profile picture -->
    <div class="h-36 w-36 rounded-full bg-red-300 mx-auto -translate-y-10 shadow-xl"></div>
    <!-- personal data -->
    <div class= "-translate-y-10 m-5">
       <!-- name -->
       <h1 class="text-4xl text-center ">{{getUserDetails()?.username}}</h1>
        <!-- email -->
        <p class="text-center text-lg text-gray-300">{{getUserDetails()?.email}}</p>

     </div>
    <!-- logout -->
    <button (click)="logout()" class="absolute bottom-0 right-0 bg-red-500 text-white px-2 py-1 rounded-lg m-5">logout
      <fa-icon [icon]="faSignOutAlt"></fa-icon>
    </button>
  </div>
</div>
