<div class="p-3 bg-slate-800 w-full h-20 flex flex-row justify-between">

  <!-- logo -->
  <a routerLink="/" class="m-2 text-3xl text-slate-400 flex flex-row items-end">
    <img src="favicon.jpg" class="w-10 mr-2" alt="hello">
    <span class="font-bold text-2xl">SemsarOnline</span>
  </a>
 <!-- pages -->
  <div class="flex flex-row items-center max-[640px]:hidden">
    <a routerLink="/home" class="m-2 text-slate-400">Home</a>
    <a routerLink="/about" class="m-2 text-slate-400">About</a>
    <a routerLink="/contact" class="m-2 text-slate-400">Contact</a>
  </div>
  <!-- login -->
  <div class="flex flex-row items-center max-[640px]:hidden">
    <a routerLink="/login" class="m-2 text-slate-400">Login</a>
    <a routerLink="/register" class="m-2 text-slate-400">Register</a>
  </div>
  <!-- mobile menu -->
  <div class="flex flex-row items-center mobile" >
    <button class="m-2 text-slate-400 ">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6" viewBox="0 0 448 512"><path d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"/></svg>
    </button>
  </div>
</div>
