.background {
    background-image: -webkit-image-set(url(https://lh7-us.googleusercontent.com/bfHNqo_qCsJy3MUAbURtYhuAHQkxRlz8iO-o79mOA25qrXP-fz7LG1kjgd2tOBhfjACiMLRUeKQHsaF-oxuSGmW00BqK7o-7yzD4v4qe5_ZUsMuu0yAMSEGiTrBqVOgU99xChJRsaMSaouasgj6ALGU));
    background-position: center;
    background-size: cover;
    filter: brightness(0.7);
    z-index: -1;
}
