<div class="pt-24">

  <div class="p-3 mx-auto w-[90%] h-full sm:w-[80%]  rounded-xl">
    <div class="flex flex-row justify-between space-x-4 flex-wrap" >
      <div class=" xl:w-[66%] w-[100%] rounded-lg overflow-hidden">
        <app-image-slider [images]="property.images ?? []"></app-image-slider>
      </div>
      <div class="w-[32%] space-y-4  hidden xl:flex xl:flex-col">
        <div class="h-[50%] rounded-lg">
          <img src="{{property?.images?.[1] || ''}}" class="rounded-lg" alt="">
        </div>
        <div class="h-[50%] rounded-lg">
          <img class="rounded-lg" src="{{property?.images?.[2] || ''}}" alt="">
        </div>
      </div>
    </div>
    <hr class="my-4">
    <!-- payment method cash or  -->
     <div class="w-[100%] flex flex-row mt-5 flex-wrap justify-end" dir="rtl">
      <div class="basis-[100%] order-2 xl:basis-1/3 flex flex-col h-[200px] shadow-lg border-2 rounded-xl border-gray-100">

        <div class="flex flex-col justify-between items-center bg-gray-200 my-6 p-2">
          <div class="flex flex-col items-center">
            <span class="text-lg font-bold">Payment Method</span>
            <span class="text-lg font-bold text-green-500">Cash</span>
          </div>
        </div>
        <div class="justify-around items-center flex flex-row px-2 mt-4">
          <button class="max-w-28 bg-red-500 text-white p-2 rounded-lg">Call <i class="fa-solid fa-phone"></i></button>
          <button class="max-w-28 bg-red-500 text-white p-2 rounded-lg ">Email <i class="fa-solid fa-envelope"></i></button>
          <button class="max-w-28 bg-green-500 text-white p-2 rounded-lg ">Whatsapp <i class="fa-brands fa-whatsapp"></i></button>
        </div>
     </div>
     <!-- details -->
     <div class="sm:basis-2/3 flex flex-col order-1 xl:order-2" dir="ltr">
        <div class="flex flex-col p-6 space-y-4">
          <div class="flex items-center space-x-2">
            <span class="text-4xl font-bold">EGP {{property.price}}</span>
          </div>
          <h2 class="text-2xl font-bold text-gray-800 mb-4">Property Details</h2>

          <div class="grid grid-cols-2 gap-4">
            <div class="flex items-center space-x-2">
              <i class="fas fa-bed text-gray-600"></i>
              <span class="text-gray-700">Rooms: {{property.numberOfRooms}}</span>
            </div>

            <div class="flex items-center space-x-2">
              <i class="fas fa-ruler-combined text-gray-600"></i>
              <span class="text-gray-700">Area: {{property.area}} sqft</span>
            </div>

            <div class="flex items-center space-x-2">
              <i class="fas fa-map-marker-alt text-gray-600"></i>
              <span class="text-gray-700">Location: {{property.Location}}</span>
            </div>

            <div class="flex items-center space-x-2">
              <i class="fas fa-home text-gray-600"></i>
              <span class="text-gray-700">Type: {{property.type}}</span>
            </div>

            <div class="flex items-center space-x-2">
              <i class="fas fa-tag text-gray-600"></i>
              <span class="text-gray-700">Status: {{property.status}}</span>
            </div>

            <!-- <div class="flex items-center space-x-2">
              <i class="fas fa-dollar-sign text-gray-600"></i>
              <span class="text-gray-700">Price: ${{property.price}}</span>
            </div> -->
          </div>

          <div class="mt-6">
            <h3 class="text-xl font-semibold text-gray-800 mb-2">Description</h3>
            <p class="text-gray-600">{{property.description}}</p>
          </div>

          <div class="flex flex-col mt-4">
            <span class="text-sm text-gray-500">Listed on: {{property.listingDate}}</span>
            <span class="text-sm text-gray-500">Down Payment: ${{property.downPayment}}</span>
          </div>
        </div>
     </div>

     <!-- company details -->
      <div class="w-[100%] flex flex-col border-2 border-gray-50 mt-5 shadow-xl p-6 order-3" dir="ltr">
        <div class="flex items-center mb-6">
          <div class="w-20 h-20 mr-4">
        <img src="assets/images/company-logo.png" alt="Company Logo" class="w-full h-full object-contain rounded-lg">
          </div>
        </div>
        <h2 class="text-2xl font-bold text-gray-800 mb-4">Agent Information</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="flex items-center space-x-3">
            <i class="fas fa-building text-gray-600"></i>
            <span class="text-gray-700">{{property.company?.Name}}</span>
          </div>
          <div class="flex items-center space-x-3">
            <i class="fas fa-map-marker-alt text-gray-600"></i>
            <span class="text-gray-700">{{property.company?.Address}}</span>
          </div>
          <div class="flex items-center space-x-3">
            <i class="fab fa-whatsapp text-gray-600"></i>
            <span class="text-gray-700">{{property.company?.WhatsApp}}</span>
          </div>
          <div class="flex items-center space-x-3">
            <i class="fas fa-envelope text-gray-600"></i>
            <span class="text-gray-700">{{property.company?.Email}}</span>
          </div>
        </div>
      </div>


    <!-- reviews section -->

    <div class="w-[100%] flex flex-col flex-wrap border-2 border-gray-50 mt-5 shadow-xl p-6 order-4" dir="ltr">
      <div class="flex flex-wrap justify-between items-center mb-6">
        <div class="flex flex-row flex-wrap items-center my-2">
          <h2 class="text-2xl font-bold text-gray-800 w-[100%]">Reviews</h2>
          <div class="flex items-center mr-auto">
            <div class="flex text-yellow-400">
              <div class="text-nowrap" [innerHTML]="avrStarsHTML()"></div>
            </div>
            <span class="ml-2 text-gray-600 text-nowrap">{{avrStars()}} out of 5</span>
            <span class="ml-2 text-gray-500 text-nowrap">({{reviews().length}} reviews)</span>
          </div>
        </div>
      </div>
      <!-- write a review  -->
      <div class="w-[100%] rounded-lg shadow-lg mb-3 min-h-28">
        <div class="flex flex-col p-4">
          <h3 class="text-xl font-semibold text-gray-800 mb-2">Write a Review</h3>
            <textarea class="w-full h-20 min-h-20 p-2 rounded-lg border-2 border-gray-200"
             placeholder="Write your review here" [(ngModel)]="comment"></textarea>
          <div class="flex justify-between items-center mt-4">
            <div class="flex items-center space-x-2">
              <span class="text-gray-600">Rate this property</span>
              <div class="flex text-yellow-400">
                <div class="text-nowrap">
                    <i class="cursor-pointer fa-star" (click)="rating.set(1)" [ngClass]="{'fas': rating() >= 1, 'far': rating() < 1}"></i>
                    <i class="cursor-pointer fa-star" (click)="rating.set(2)" [ngClass]="{'fas': rating() >= 2, 'far': rating() < 2}"></i>
                    <i class="cursor-pointer fa-star" (click)="rating.set(3)" [ngClass]="{'fas': rating() >= 3, 'far': rating() < 3}"></i>
                    <i class="cursor-pointer fa-star" (click)="rating.set(4)" [ngClass]="{'fas': rating() >= 4, 'far': rating() < 4}"></i>
                    <i class="cursor-pointer fa-star" (click)="rating.set(5)" [ngClass]="{'fas': rating() >= 5, 'far': rating() < 5}"></i>
                </div>
              </div>
            </div>
            <button (click)="onSubmitReview()" class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700">
              Submit
            </button>
          </div>
        </div>
      </div>

      <div class="flex flex-col space-y-4">
        <app-review class="my-2" *ngFor="let review of reviews()" [review]="review"></app-review>
      </div>

      <!--TODO: Load more button -->
      <!-- <button class="mt-6 text-blue-600 hover:text-blue-800 text-center w-full">
        Load more reviews
      </button> -->
    </div>
  </div>
</div>
</div>
